.custom-button {
    flex: 1 1 50%;
    border: 1px solid transparent;
    max-width: 50%;
    padding: 1.2rem 0.5rem;
    background: black;
    color: white;
    text-transform: uppercase;
    transition: .3s ease;
    cursor: pointer;
    &:hover {
        border: 1px solid black;
        background: white;
        color: black;
    }

    & + .custom-button {
        margin-left: 25px;
    }
}

.google-sign-in {
    background-color: #4285f4;
    color: white;
    &:hover {
        background-color: #357ae8;
        border: none;
    }
}

.card-button {
    flex: 1 1 80%;
    width: 80%;
    max-width: 80%;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0,0,0,0.8);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}

.shop-button {
    flex: 1 1 100%;
    max-width: 100%;
}