.card-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 260px;
    height: 370px;
    padding: 20px;
    background: white;
    border: 2px solid black;
    z-index: 1;
    position: absolute;
    top: 60px;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
}

.card-dropdown--active {
    opacity: 1;
    visibility: visible;
    top: 45px;
}

.card-items {
    max-height: 78%;
    overflow: auto;
}

.card-items__title {
    text-align: center;
}