.checkout-item {
    display: flex;
    align-items: center;
    padding: 30px 0;
    border-bottom: 2px solid #e3e3e3;
}

.checkout-item__image,
.checkout-item__name,
.checkout-item__quantity-wrap,
.checkout-item__price,
.checkout-item__remove {
    flex: 1 1 23%;
    max-width: 23%;
}

.checkout-item__remove {
    text-align: start;
    cursor: pointer;
    padding-left: 30px;
}

.checkout-item__quantity-wrap {
    display: flex;
    align-items: center;
}

.checkout-item__image {
    width: 100%;
    max-width: 224px;
    min-width: 172px;
    margin-right: 22px;
}

.checkout-item__price {
    font-size: 20px;
}

.checkout-item__quantity-button {
    cursor: pointer;
    &:nth-of-type(1) {
        svg {
            transform: rotate(180deg);
        }
    }
}

.checkout-item__quantity-icon,
.checkout-item__remove-icon {
    width: 16px;
}